.search-box-custom {
    position: relative;
    font-size:16px;
    text-align: left;
    padding-left:10px;
    padding-right:10px;
    min-width: 240px;
    max-width: 510px;
    margin: 0 auto;
    z-index:2;
}
    .inputbox {
        height: 28px;
        padding-left: 38px;
        min-width: 90%;
        max-width: 680px;
        margin: 0 auto;
        font-size:16px;
    }

    .loader-container {
        position: relative;
        text-align: center;
        height: 0;
        width:0;
    }

    .loader-image {
        position: absolute;
        margin-right: 10px;
        top: -29px;
        left: 8px;
        height: 23px;
    }

    ul.city-options--hidden {
        display: none;
    }

    ul.city-options--visible {
        position: absolute;
        top: 32px;
        display: block;
        background-color: white;
        padding-right: 20px;
        border: 1px solid #ccc;
        border-top:0;
        padding-top:8px;
    }

        .city-option {
            margin-top:2px;
            margin-left: 11px;
            padding:2px 0px;
            cursor: pointer;
            border-bottom: 1px dotted #ddd;
        }
        .city-option--lastone {
            margin-left: 11px;
            opacity: 0.15
        }
        .city-option--lastbutone {
            margin-left: 11px;
            opacity: 0.4
        }
        .city-option:hover .label,
        .city-option:focus .label {
            background: #f5f5f5;
        }
            .flag {
                top:1px;
                height: 13px;
                width: 20px;
                margin-right: 10px;
            }
            .regionCode {
                margin-left:8px;
                color: #aaa;
                font-size:14px;
            }

    .error-message {
        color: orangered
    }
